{% extends 'base.html' %}

{% block title %}World{% endblock %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<style>
	h4{
		text-align:center; 
		font-family: 'Times New Roman';
	}

	h5{
		font-size: 20px;
		text-align:center;
		font-family: Purisa;
	}
	h6{
		font-size: 17px;
		text-align:center;
	}
	
</style>

{% for message in messages %}
	<h4 id="messages" style="text-align: center;">{{message}}</h4>
{% endfor %}

<hr>

	<h3 style="text-align:center;"><b>WORLD CORONA CASES</b></h3>
<hr>

<div class="container-fluid">

	<div class="row">

		<div class="col-sm-4">
	    	<div class="card" style="height:600px;">
		    	<div class="card-header" style="font-size :20px; text-align:center;">
		    		<b>CONFIRMED : {{totalconfirmed}} cases</b>
		    		<p>(Visualization is of top 50 countries)</p>
		  		</div>

	    		<div class="card-body" style="max-height: 550px;overflow: scroll; overflow-x:hidden;">
	    			<form method="" enctype="multipart/form-data">

			            {% csrf_token %}

			            <!-- names of country -->

			            <div style="float: left;width:30%;">

			               {% for con in data_confirmed_names %}

			                  <table style="border-width: 6px; border: #333;width:100%;">

			                     <tr>

			                        <input class="btn btn-success" type="submit" value={{con}} name="country" style="float: left;width:100px;margin:3px;">

			                     </tr>

			                  </table>

			               {% endfor %}

			            </div>
			        </form>

	    			<!-- the chart -->

			    	<div  style="width: 70%;float: left;">
			    		<canvas id="myChart" style="height: 4290px; width: 100%;"></canvas>
			    	</div>
				    
	    		</div>
	    	</div>
	    </div>

		<div class="col-sm-4">
	    	<div class="card" style="height:600px;">
		    	<div class="card-header" style="font-size :20px; text-align: center;">
		   			<b>DEATH : {{totaldeath}} cases</b>
		   			<p>(Visualization is of top 50 countries)</p>
		  		</div>

	      		<div class="card-body" style="max-height: 550px;overflow: scroll; overflow-x:hidden;">
	        		<form method="" enctype="multipart/form-data">

			            {% csrf_token %}

			            <!-- names of country -->

			            <div style="float: left;width:30%;">

			               {% for con in data_death_names %}

			                  <table style="border-width: 6px; border: #333;width:100%;">

			                     <tr>

			                        <input class="btn btn-warning" type="submit" value={{con}} name="country" style="float: left;width:100px;margin:3px;">

			                     </tr>

			                  </table>

			               {% endfor %}

			            </div>
			        </form>

	    			<!-- the chart -->

			    	<div  style="width: 70%;float: left;">
			    		<canvas id="death" style="height: 4290px; width: 100%;"></canvas>
			    	</div>
				    
	    		</div>
	        </div>
	       
	    </div>

	    <div class="col-sm-4">
	    	<div class="card" style="height:600px;">
	    		<div class="card-header" style="font-size :20px; text-align:center;">
	    			<b>OVERALL DATA ANALYSIS</b>
	    		</div>

		    	<div class="card-body">
		        	<h4>Confirmed mean : {{total_mean}}</h4>
		        	<h4 style="color:#ff6666">Death mean : {{total_mean_death}}</h4>
		        	<hr>
		        	<h4>Spread Rate: {{spread_rate}} %</h4>
		        	<h4 style="color:#ff6666">Death Rate : {{death_rate}} %</h4>
		        	<hr>
		        	<h5>WEAR MASK</h5>
		        	<h5>KEEP SOCIAL DISTANCES</h5>
		        	<h5>SANITIZE YOUR HANDS</h5>
		        	<h5>TUKOMESHE CORONA</h5>
		        	<h5>YES WE CAN!</h5>
		        	<hr>
		        	<h6>Disclaimer:</h6>
		        	<h6>The data is obtained from COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University <a href="https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data" style="color: darkred;text-transform: lowercase;">here</a></h6>
		      	</div>

	    </div>

	</div>
	
</div>

{% block chart %}

<!-- confirmed cases -->

<script>
	var ctx = document.getElementById('myChart').getContext('2d');

        // chart declaration

        // removal of chart legend

    Chart.defaults.global.legend.display = false;

    // chartoptions

     var chartOptions = {
			      legend: {
			         display: false
			      },
			      scales: {
			         xAxes: [{
			            barPercentage:1
			         }],
			         yAxes: [
			            {ticks: {display:false}},
			            {display: false},
			               ],
			         elements: {
			            rectangle: {
			            borderSkipped: 'left',
			                     }
			               }
			            }
			      };

	var chart = new Chart(ctx, {
	    // The type of chart we want to create
	    type: 'horizontalBar',

	     data: {
	        labels: {{ data_confirmed_names | safe }},
	        datasets: [{
	            label : 'Affected Population',
	            backgroundColor: '#80b3ff',
	            borderColor: '#80b3ff',
	            barThickness:'flex',
	            data:{{ data_confirmed_values | safe}}
	        }]
	    },

	    // Configuration options go here
	    options:  chartOptions
	});

</script>

<!-- for death -->

<script>

	var ctx = document.getElementById('death').getContext('2d');

        // chart declaration

        // removal of chart legend

    Chart.defaults.global.legend.display = false;

    // chartoptions

     var chartOptions = {
			      legend: {
			         display: false
			      },
			      scales: {
			         xAxes: [{
			            barPercentage:1
			         }],
			         yAxes: [
			            {ticks: {display:false}},
			            {display: false},
			               ],
			         elements: {
			            rectangle: {
			            borderSkipped: 'left',
			                     }
			               }
			            }
			      };

	var chart = new Chart(ctx, {
	    // The type of chart we want to create
	    type: 'horizontalBar',

	     data: {
	        labels: {{ data_death_names | safe }},
	        datasets: [{
	            label : 'Affected Population',
	            backgroundColor: '#ff6666',
	            borderColor: '#80b3ff',
	            barThickness:'flex',
	            data:{{ data_death_values | safe}}
	        }]
	    },

	    // Configuration options go here
	    options:  chartOptions
	});
</script>

{% endblock %}

{% endblock %}