<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <div class="mx-auto order-0">

        <h1 class="navbar-brand mr-auto" style="font-size:30px" ><b>CORONA APP</b></h1>
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'world' %}">World</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'n_america' %}">North America</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 's_america' %}">Latin America</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'asia' %}">Asia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'europe' %}">Europe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'africa' %}">Africa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'oceania' %}">Oceania</a>
            </li>
            
        </ul>
    </div>
    
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'comment' %}">Comment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Login</a>
            </li>
        </ul>
    </div>
</nav>